div class='wrapper'>
  <a [routerLink]="['/home']">Home</a>
  <p>Add a new quotable author:</p>
  <form (submit)="onSubmit()" class="postForm form-group">
    <h3>Name</h3>
    <label>Name:
      <input type='text' name='newAuthor.name' [(ngModel)]='newAuthor.name' />
    </label>
    <input type="submit" class="btn btn-outline-primary btn-sm" value="Submit" />
  </form>
  <button (click)="goHome()" class="btn btn-outline-primary btn-sm">Cancel</button>
  <h3 style="color: red">{{ name_error }}</h3>
</div>